In [1]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
pg_pwd ="asd"

In [2]:
path = "0-Data/AirplaneCrashesFinal.csv"

In [3]:
aircraft_data = pd.read_csv(path)

In [4]:
aircraft_data.head(5)

,Unnamed: 0,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,...,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry
0,0,17/09/1908,17:18,Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,...,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...","Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
1,1,7/09/1909,NaN,NaN,NaN,,Wright Byplane,SC1,NaN,1.0,...,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,"Juvisy-sur-Orge, France",48.690406,2.373809,POINT (48.6904063 2.373809)
2,2,12/07/1912,6:30,Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,...,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
3,3,6/08/1913,NaN,Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,...,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,"Victoria, British Columbia, Canada",48.428318,-123.364953,POINT (48.4283182 -123.3649533)
4,4,9/09/1913,18:30,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,...,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,the North Sea,56.741234,2.891172,POINT (56.74123355 2.89117171668805)

In [5]:
working_data = aircraft_data
working_data.shape

(4967, 21)

In [6]:
working_data.isna().sum()

Unnamed: 0                  0
Date                        0
Time                     1510
Operator                   10
Flight #                 3652
Route                     774
AC Type                    15
Registration              273
cn/ln                     668
Aboard                     18
Aboard Passengers         229
Aboard Crew               226
Fatalities                  8
Fatalities Passengers     242
Fatalities Crew           241
Ground                     41
Summary                    64
Location                    4
Latitude                    4
Longitude                   4
geometry                    0
dtype: int64

In [7]:
cln_data = working_data.drop(columns = ["Flight #" , "Time", "cn/ln", "Summary", "Registration"])

In [8]:
cln_data.dropna(inplace = True)
cln_data.shape

(4090, 16)

In [9]:
cln_data["Date"] = pd.to_datetime(cln_data["Date"], format='%d/%m/%Y')
cln_data.head(5)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122)
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562)
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667)

In [10]:
cln_data= cln_data.sort_values(by=["Date"])
cln_data

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122)
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562)
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,4962,2019-04-16,Archipelagos Service Aereos,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621)
4963,4963,2019-05-05,TVPX Aircraft Solutions,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,13.0,11.0,2.0,13.0,11.0,2.0,0.0,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689)
4964,4964,2019-05-05,Aeroflot Russian International Airlines,Moscow - Murmansk,Sukhoi Superjet-100-95B,78.0,73.0,5.0,41.0,40.0,1.0,0.0,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943)
4965,4965,2019-06-03,Military - Indian Air Force,Jorhat-Rowriah - Mechuka,Antonov An-32,13.0,5.0,8.0,13.0,5.0,8.0,0.0,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496)
4966,4966,2019-07-30,Military - Pakistan Army,Training,Beechcraft B300 King Air,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807)

In [11]:
cln_data["Date"].min

<bound method Series.min of 0      1908-09-17
2      1912-07-12
27     1919-08-02
32     1919-12-11
34     1920-03-30
          ...
4962   2019-04-16
4963   2019-05-05
4964   2019-05-05
4965   2019-06-03
4966   2019-07-30
Name: Date, Length: 4090, dtype: datetime64[ns]>

In [12]:
cln_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4090 entries, 0 to 4966
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4090 non-null   int64
 1   Date                   4090 non-null   datetime64[ns]
 2   Operator               4090 non-null   object
 3   Route                  4090 non-null   object
 4   AC Type                4090 non-null   object
 5   Aboard                 4090 non-null   float64
 6   Aboard Passengers      4090 non-null   float64
 7   Aboard Crew            4090 non-null   float64
 8   Fatalities             4090 non-null   float64
 9   Fatalities Passengers  4090 non-null   float64
 10  Fatalities Crew        4090 non-null   float64
 11  Ground                 4090 non-null   float64
 12  Location               4090 non-null   object
 13  Latitude               4090 non-null   float64
 14  Longitude              4090 non-null   float64
 15  geometry               4090 non-null   object
dtypes: datetime64[ns](1), float64(9), int64(1), object(5)
memory usage: 543.2+ KB

In [13]:
cln_data['year'] = pd.DatetimeIndex(cln_data['Date']).year
cln_data.head(15)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,year
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920
49,49,1920-12-14,Handley Page Transport,London - Paris,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),1920
61,61,1921-09-06,Franco-Roumaine,Warsaw - Prague - Strasbourg - Paris,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),1921
62,62,1921-12-05,West Australian Airways,Geraldton - Derby,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),1921
65,65,1922-03-22,Aero Limited,Miami - Bimini,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),1922
66,66,1922-04-07,Daimler Airways / Grands Express Aeriens,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),1922
68,68,1922-06-03,Cie des Messageries Aeriennes,Croydon - Paris,Bleriot Spad 27,3.0,2.0,1.0,3.0,2.0,1.0,0.0,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),1922
70,70,1922-07-16,Compagnie Franco-Roumaine de Navigaation Aerienne,Strasbourg - Paris,Potez 29,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),1922
73,73,1922-10-02,de Havilland Air Service,Venice - London,de Havilland DH-9,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),1922
75,75,1922-12-03,Grands Express Aeriens,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),1922
80,80,1923-05-14,Grands Express Aeriens (Air Union),Paris - London,Farman F-60 Goliath,6.0,4.0,2.0,6.0,4.0,2.0,0.0,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),1923

In [14]:
# Adding column for fatality rate
crash_clean_df= cln_data.copy()
crash_clean_df["Fatalities_rate"] = (cln_data['Fatalities']/cln_data['Aboard'])*100
crash_clean_df

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,year,Fatalities_rate
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908,50.000000
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912,100.000000
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919,100.000000
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919,100.000000
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,4962,2019-04-16,Archipelagos Service Aereos,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621),2019,100.000000
4963,4963,2019-05-05,TVPX Aircraft Solutions,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,13.0,11.0,2.0,13.0,11.0,2.0,0.0,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689),2019,100.000000
4964,4964,2019-05-05,Aeroflot Russian International Airlines,Moscow - Murmansk,Sukhoi Superjet-100-95B,78.0,73.0,5.0,41.0,40.0,1.0,0.0,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943),2019,52.564103
4965,4965,2019-06-03,Military - Indian Air Force,Jorhat-Rowriah - Mechuka,Antonov An-32,13.0,5.0,8.0,13.0,5.0,8.0,0.0,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496),2019,100.000000
4966,4966,2019-07-30,Military - Pakistan Army,Training,Beechcraft B300 King Air,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807),2019,100.000000

In [15]:
crash_clean_df["Fatalities_rate"].isnull().sum()

2

In [16]:
crash_clean_df['Fatalities_rate'] = crash_clean_df['Fatalities_rate'].fillna(0)

In [17]:
crash_clean_df["Fatalities_rate"].isnull().sum()

0

In [18]:
# Grouping the crashes by decade
bins = [1900,1919,1939,1959,1979,1999,2009,2019]

group_names = ["1900-1920", "1920-1940", "1940-1960", "1960-1980","1980-2000", "2000-2020", ">2020's"]
grouped_crash_clean_df = crash_clean_df.copy()
grouped_crash_clean_df['Decades'] = pd.cut(grouped_crash_clean_df['year'], bins, labels=group_names, include_lowest=True)
grouped_crash_clean_df.head(25)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,year,Fatalities_rate,Decades
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908,50.000000,1900-1920
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912,100.000000,1900-1920
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919,100.000000,1900-1920
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919,100.000000,1900-1920
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920,100.000000,1920-1940
49,49,1920-12-14,Handley Page Transport,London - Paris,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),1920,50.000000,1920-1940
61,61,1921-09-06,Franco-Roumaine,Warsaw - Prague - Strasbourg - Paris,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),1921,100.000000,1920-1940
62,62,1921-12-05,West Australian Airways,Geraldton - Derby,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),1921,100.000000,1920-1940
65,65,1922-03-22,Aero Limited,Miami - Bimini,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),1922,83.333333,1920-1940
66,66,1922-04-07,Daimler Airways / Grands Express Aeriens,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),1922,100.000000,1920-1940
68,68,1922-06-03,Cie des Messageries Aeriennes,Croydon - Paris,Bleriot Spad 27,3.0,2.0,1.0,3.0,2.0,1.0,0.0,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),1922,100.000000,1920-1940
70,70,1922-07-16,Compagnie Franco-Roumaine de Navigaation Aerienne,Strasbourg - Paris,Potez 29,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),1922,100.000000,1920-1940
73,73,1922-10-02,de Havilland Air Service,Venice - London,de Havilland DH-9,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),1922,100.000000,1920-1940
75,75,1922-12-03,Grands Express Aeriens,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),1922,100.000000,1920-1940
80,80,1923-05-14,Grands Express Aeriens (Air Union),Paris - London,Farman F-60 Goliath,6.0,4.0,2.0,6.0,4.0,2.0,0.0,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),1923,100.000000,1920-1940
81,81,1923-08-27,Air Union,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,11.0,9.0,2.0,1.0,1.0,0.0,0.0,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),1923,9.090909,1920-1940
84,84,1923-09-14,Daimler Airways,Croydon - Manchester,de Havilland DH-34,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),1923,100.000000,1920-1940
90,90,1924-04-24,KLM Royal Dutch Airlines,"Lympne, England - Rotterdam, The Netherlands",Fokker F.III,3.0,2.0,1.0,3.0,2.0,1.0,0.0,the English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),1924,100.000000,1920-1940
91,91,1924-06-08,SCADTA,Barranquilla - Bogota,Junkers F-13,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),1924,100.000000,1920-1940
95,95,1924-12-24,Imperial Airways,London - Paris,de Havilland DH-34B,8.0,7.0,1.0,8.0,7.0,1.0,0.0,"Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),1924,100.000000,1920-1940
96,96,1925-03-22,Zakavia,Tiflis - Suchumi,Junkers F-13,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Tiflis, Georgia, USSR",41.640226,42.994420,POINT (41.640226 42.99442),1925,100.000000,1920-1940
97,97,1925-04-25,Grands Express Aeriens,Alicante - Barcelona - Toulouse,Breguet 14,3.0,1.0,2.0,3.0,1.0,2.0,0.0,"Alicante, Spain",38.353738,-0.490185,POINT (38.353738 -0.4901846),1925,100.000000,1920-1940
98,98,1925-06-25,KLM Royal Dutch Airlines,Amsterdam - Paris,Fokker (KLM) F.III,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Landrécies, France",50.125014,3.691302,POINT (50.1250142 3.6913023),1925,100.000000,1920-1940
99,99,1925-06-26,Grands Express Aeriens,Oran - Alicante,Lioré-et-Olivier LeO H-13,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Alicante, Spain",38.353738,-0.490185,POINT (38.353738 -0.4901846),1925,100.000000,1920-1940
100,100,1925-07-20,Lignes Aeriennes Latecoere,Toulouse - Barcelona,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Rosas, Spain",42.263202,3.175533,POINT (42.2632018 3.1755328),1925,100.000000,1920-1940

In [19]:
grouped_crash_clean_df['Origin'] = grouped_crash_clean_df['Route'].str.split(' ').str[0]
grouped_crash_clean_df.head(20)
grouped_crash_clean_df['Origin'] = grouped_crash_clean_df['Origin'].map(lambda x: x.lstrip('+-,_').rstrip('+-,_'))
grouped_crash_clean_df.head(20)

,Unnamed: 0,Date,Operator,Route,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,year,Fatalities_rate,Decades,Origin
0,0,1908-09-17,Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908,50.000000,1900-1920,Demonstration
2,2,1912-07-12,Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912,100.000000,1900-1920,Test
27,27,1919-08-02,Caproni Company,Venice Taliedo,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919,100.000000,1900-1920,Venice
32,32,1919-12-11,Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919,100.000000,1900-1920,Paris
34,34,1920-03-30,US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920,100.000000,1920-1940,Washington
49,49,1920-12-14,Handley Page Transport,London - Paris,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),1920,50.000000,1920-1940,London
61,61,1921-09-06,Franco-Roumaine,Warsaw - Prague - Strasbourg - Paris,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),1921,100.000000,1920-1940,Warsaw
62,62,1921-12-05,West Australian Airways,Geraldton - Derby,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),1921,100.000000,1920-1940,Geraldton
65,65,1922-03-22,Aero Limited,Miami - Bimini,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),1922,83.333333,1920-1940,Miami
66,66,1922-04-07,Daimler Airways / Grands Express Aeriens,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),1922,100.000000,1920-1940,Croydon
68,68,1922-06-03,Cie des Messageries Aeriennes,Croydon - Paris,Bleriot Spad 27,3.0,2.0,1.0,3.0,2.0,1.0,0.0,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),1922,100.000000,1920-1940,Croydon
70,70,1922-07-16,Compagnie Franco-Roumaine de Navigaation Aerienne,Strasbourg - Paris,Potez 29,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),1922,100.000000,1920-1940,Strasbourg
73,73,1922-10-02,de Havilland Air Service,Venice - London,de Havilland DH-9,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),1922,100.000000,1920-1940,Venice
75,75,1922-12-03,Grands Express Aeriens,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),1922,100.000000,1920-1940,Toulouse
80,80,1923-05-14,Grands Express Aeriens (Air Union),Paris - London,Farman F-60 Goliath,6.0,4.0,2.0,6.0,4.0,2.0,0.0,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),1923,100.000000,1920-1940,Paris
81,81,1923-08-27,Air Union,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,11.0,9.0,2.0,1.0,1.0,0.0,0.0,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),1923,9.090909,1920-1940,Paris
84,84,1923-09-14,Daimler Airways,Croydon - Manchester,de Havilland DH-34,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),1923,100.000000,1920-1940,Croydon
90,90,1924-04-24,KLM Royal Dutch Airlines,"Lympne, England - Rotterdam, The Netherlands",Fokker F.III,3.0,2.0,1.0,3.0,2.0,1.0,0.0,the English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),1924,100.000000,1920-1940,Lympne
91,91,1924-06-08,SCADTA,Barranquilla - Bogota,Junkers F-13,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),1924,100.000000,1920-1940,Barranquilla
95,95,1924-12-24,Imperial Airways,London - Paris,de Havilland DH-34B,8.0,7.0,1.0,8.0,7.0,1.0,0.0,"Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),1924,100.000000,1920-1940,London

In [20]:
grouped_crash_clean_df = grouped_crash_clean_df.drop(columns=['Unnamed: 0'])
grouped_crash_clean_df = grouped_crash_clean_df.drop(columns=['Route'])
grouped_crash_clean_df.head(20)

,Date,Operator,AC Type,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Location,Latitude,Longitude,geometry,year,Fatalities_rate,Decades,Origin
0,1908-09-17,Military - U.S. Army,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908,50.000000,1900-1920,Demonstration
2,1912-07-12,Military - U.S. Navy,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912,100.000000,1900-1920,Test
27,1919-08-02,Caproni Company,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919,100.000000,1900-1920,Venice
32,1919-12-11,Aircraft Travel Transport,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919,100.000000,1900-1920,Paris
34,1920-03-30,US Aerial Mail Service,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920,100.000000,1920-1940,Washington
49,1920-12-14,Handley Page Transport,Handley Page HP-16,8.0,6.0,2.0,4.0,2.0,2.0,0.0,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),1920,50.000000,1920-1940,London
61,1921-09-06,Franco-Roumaine,Potez IX,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),1921,100.000000,1920-1940,Warsaw
62,1921-12-05,West Australian Airways,Bristol 28 Tourer,2.0,0.0,2.0,2.0,0.0,2.0,0.0,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),1921,100.000000,1920-1940,Geraldton
65,1922-03-22,Aero Limited,Aeromarine Model 85 (flying boat),6.0,5.0,1.0,5.0,5.0,0.0,0.0,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),1922,83.333333,1920-1940,Miami
66,1922-04-07,Daimler Airways / Grands Express Aeriens,de Havilland DH-18 / Farman F-60 Goliath,7.0,5.0,2.0,7.0,5.0,2.0,0.0,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),1922,100.000000,1920-1940,Croydon
68,1922-06-03,Cie des Messageries Aeriennes,Bleriot Spad 27,3.0,2.0,1.0,3.0,2.0,1.0,0.0,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),1922,100.000000,1920-1940,Croydon
70,1922-07-16,Compagnie Franco-Roumaine de Navigaation Aerienne,Potez 29,5.0,4.0,1.0,5.0,4.0,1.0,0.0,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),1922,100.000000,1920-1940,Strasbourg
73,1922-10-02,de Havilland Air Service,de Havilland DH-9,4.0,3.0,1.0,4.0,3.0,1.0,0.0,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),1922,100.000000,1920-1940,Venice
75,1922-12-03,Grands Express Aeriens,Breguet 14,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),1922,100.000000,1920-1940,Toulouse
80,1923-05-14,Grands Express Aeriens (Air Union),Farman F-60 Goliath,6.0,4.0,2.0,6.0,4.0,2.0,0.0,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),1923,100.000000,1920-1940,Paris
81,1923-08-27,Air Union,Farman F.60 Goliath,11.0,9.0,2.0,1.0,1.0,0.0,0.0,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),1923,9.090909,1920-1940,Paris
84,1923-09-14,Daimler Airways,de Havilland DH-34,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),1923,100.000000,1920-1940,Croydon
90,1924-04-24,KLM Royal Dutch Airlines,Fokker F.III,3.0,2.0,1.0,3.0,2.0,1.0,0.0,the English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),1924,100.000000,1920-1940,Lympne
91,1924-06-08,SCADTA,Junkers F-13,5.0,3.0,2.0,5.0,3.0,2.0,0.0,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),1924,100.000000,1920-1940,Barranquilla
95,1924-12-24,Imperial Airways,de Havilland DH-34B,8.0,7.0,1.0,8.0,7.0,1.0,0.0,"Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),1924,100.000000,1920-1940,London

In [21]:
grouped_crash_clean_df = grouped_crash_clean_df.rename(columns = {
    'Date':'date',
    'Operator':'operator',
    'AC Type':'ac_type',
    'Aboard':'aboard',
    'Aboard Passengers':'aboard_passengers',
    'Aboard Crew':'aboard_crew',
    'Fatalities':'fatalities',
    'Fatalities Passenger':'fatalities_passenger',
    'Fatalities Crew':'fatalities_crew',
    'Ground':'ground',
    'Location':'location',
    'Latitude':'latitude',
    'Longitude':'longitude',
    'Fatalities_rate':'fatalities_rate',
    'Fatalities Passengers':'fatalities_passengers',
    'Decades':'decade',
    'Origin':'origin'
    })

In [22]:
grouped_crash_clean_df = grouped_crash_clean_df.reset_index(drop=True)
grouped_crash_clean_df

,date,operator,ac_type,aboard,aboard_passengers,aboard_crew,fatalities,fatalities_passengers,fatalities_crew,ground,location,latitude,longitude,geometry,year,fatalities_rate,decade,origin
0,1908-09-17,Military - U.S. Army,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908,50.000000,1900-1920,Demonstration
1,1912-07-12,Military - U.S. Navy,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912,100.000000,1900-1920,Test
2,1919-08-02,Caproni Company,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919,100.000000,1900-1920,Venice
3,1919-12-11,Aircraft Travel Transport,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919,100.000000,1900-1920,Paris
4,1920-03-30,US Aerial Mail Service,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920,100.000000,1920-1940,Washington
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,2019-04-16,Archipelagos Service Aereos,Pilatus-Britten Norman BN-2B-27 Islander,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621),2019,100.000000,>2020's,Puerto
4086,2019-05-05,TVPX Aircraft Solutions,Canadair CL-600-2B16-Challenger,13.0,11.0,2.0,13.0,11.0,2.0,0.0,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689),2019,100.000000,>2020's,Las
4087,2019-05-05,Aeroflot Russian International Airlines,Sukhoi Superjet-100-95B,78.0,73.0,5.0,41.0,40.0,1.0,0.0,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943),2019,52.564103,>2020's,Moscow
4088,2019-06-03,Military - Indian Air Force,Antonov An-32,13.0,5.0,8.0,13.0,5.0,8.0,0.0,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496),2019,100.000000,>2020's,
4089,2019-07-30,Military - Pakistan Army,Beechcraft B300 King Air,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807),2019,100.000000,>2020's,Training

Only if you need countries in your databse then uncomment this code

In [23]:
# from geopy.geocoders import Nominatim
# import numpy as np
# geolocator = Nominatim(user_agent="geoapiExercises")
# grouped_crash_clean_df['country'] =""

# for index, row in grouped_crash_clean_df.iterrows():
#     lat = row.latitude
#     long = row.longitude
#     try:
#         grouped_crash_clean_df.loc[index, 'country'] =  geolocator.reverse(f"{lat},{long}")[0].split(',')[-1].strip(" ")
#         print("Got the country name")
#     except:
#         grouped_crash_clean_df.loc[index, 'country'] = np.nan
#         print("Didnt get the country name")
# print("finished fetching country names")

In [24]:
grouped_crash_clean_df

,date,operator,ac_type,aboard,aboard_passengers,aboard_crew,fatalities,fatalities_passengers,fatalities_crew,ground,location,latitude,longitude,geometry,year,fatalities_rate,decade,origin
0,1908-09-17,Military - U.S. Army,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259),1908,50.000000,1900-1920,Demonstration
1,1912-07-12,Military - U.S. Navy,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998),1912,100.000000,1900-1920,Test
2,1919-08-02,Caproni Company,Caproni Ca.48,14.0,12.0,2.0,14.0,12.0,2.0,0.0,"Verona, Italy",45.438496,10.992412,POINT (45.4384958 10.9924122),1919,100.000000,1900-1920,Venice
3,1919-12-11,Aircraft Travel Transport,de Havilland DH-4,1.0,1.0,1.0,1.0,1.0,1.0,0.0,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),1919,100.000000,1900-1920,Paris
4,1920-03-30,US Aerial Mail Service,De Havilland DH-4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),1920,100.000000,1920-1940,Washington
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,2019-04-16,Archipelagos Service Aereos,Pilatus-Britten Norman BN-2B-27 Islander,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621),2019,100.000000,>2020's,Puerto
4086,2019-05-05,TVPX Aircraft Solutions,Canadair CL-600-2B16-Challenger,13.0,11.0,2.0,13.0,11.0,2.0,0.0,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689),2019,100.000000,>2020's,Las
4087,2019-05-05,Aeroflot Russian International Airlines,Sukhoi Superjet-100-95B,78.0,73.0,5.0,41.0,40.0,1.0,0.0,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943),2019,52.564103,>2020's,Moscow
4088,2019-06-03,Military - Indian Air Force,Antonov An-32,13.0,5.0,8.0,13.0,5.0,8.0,0.0,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496),2019,100.000000,>2020's,
4089,2019-07-30,Military - Pakistan Army,Beechcraft B300 King Air,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807),2019,100.000000,>2020's,Training

In [32]:
grouped_crash_clean_df.groupby(['country'])['fatalities'].sum()

KeyError: 'country'

In [57]:
grouped_crash_clean_df.groupby(['operator']).count().reset_index().sort_values(['fatalities'],ascending=False)

,operator,date,ac_type,aboard,aboard_passengers,aboard_crew,fatalities,fatalities_passengers,fatalities_crew,ground,location,latitude,longitude,geometry,year,fatalities_rate,decade,origin
81,Aeroflot,233,233,233,233,233,233,233,233,233,233,233,233,233,233,233,233,233
1210,Military - U.S. Air Force,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107
178,Air France,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58
1861,United Air Lines,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
644,Deutsche Lufthansa,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,Fleming Airways System Transport,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
732,Flash Air,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
729,Fine Air,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
728,Filipinas Orient Airways,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1960,èkoda (India) Ltd,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [25]:
# import numpy as np
# final_crashdata = grouped_crash_clean_df.replace(np.nan, 'Ocean', regex=True)

In [26]:
# final_crashdata.head(20)

# Load Into Database

In [38]:
engine = create_engine(f'postgresql://postgres:{pg_pwd}@localhost:5432/DAB-Project-2')
connection = engine.connect()

In [28]:
# engine.table_names()

In [29]:
# grouped_crash_clean_df.to_sql('finalcrash_data', connection, if_exists='append',  index=False, index_label='index')
# final_crashdata.to_sql('finalcrash_data', connection, if_exists='replace',index=False)

In [40]:
final_crashdata_1 = pd.read_sql_table('finalcrash_data', f'postgresql://postgres:{pg_pwd}@localhost:5432/DAB-Project-2')

In [56]:
final_crashdata_1 = final_crashdata_1.groupby(['operator']).count().reset_index().sort_values(['fatalities'],ascending=False)
final_crashdata_1

KeyError: 'operator'